= render 'depp/shared/title', name: t(:check_contact)

.row
  .col-md-12
    = form_tag check_contacts_path, class: 'form-horizontal', method: :get do
      .form-group
        .col-md-3.control-label
          = label_tag :contact_id, t(:contact_code)
        .col-md-5
          = text_field_tag :contacts, params[:contacts], class: 'form-control'
        .col-md-2
          %button.btn.btn-primary
            &nbsp;
            %span.glyphicon.glyphicon-search
            &nbsp;

- if @contacts
  %hr
  .row
    .col-md-12
      .table-responsive
        %table.table.table-hover.table-bordered.table-condensed
          %thead
            %tr
              %th= t(:contact_code)
              %th= t(:result)
          %tbody
            - @contacts.each do |contact|
              %tr
                %td= contact[:id]
                %td= contact[:reason]
